body {
    color: #202020;
    font-weight: normal;
    /* background-color: #d4292961; */
    /* background-color: hsl; */
}


/* remove up down arrows in input->number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media (min-width: 1450px) {
    .container {
        width: 1450px;
    }
}

footer {
    margin: 0em 0;
}

.dt-buttons {
    margin-bottom: 0.4em;
}

.footer-desc {
    color: #57575799;
    font-size: 11px;
    /* margin-top: -2.9em; */
}

.form-control {
    color: #202020;
}

.sticky-btns {
    position: sticky;
    bottom: -0.33rem;
    background-color: #fcfcfcc9;
    margin-top: -1.8rem;
    padding-bottom: 2px;
}

.form-signin {
    margin: auto;
    max-width: 600px;
    padding-top: 115px;
    width: 100%;
}

.h3-spacing {
    margin-bottom: 40px;
    width: 100%;
}

mark.red {
    background: none;
    color: #808080;
}

mark.blue {
    background: none;
    color: #575757;
}

mark.yellow {
    background: none;
    color: #cb210e;
    font-size: smaller;
}

small.red {
    color: #cb210e;
}

.navbar {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    /*box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);*/
    border-radius: 2px;
}

.btn:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-trnsp {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
}

.date-control {
    background-color: #ffffff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #dddddd;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    color: #202020;
    display: block;
    font-size: 13px;
    height: 36px;
    line-height: 1.42857143;
    padding: 8px 12px;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    width: 100%;
}

.well {
    margin-bottom: 0px;
}

.col-lg-offset-1 {
    margin-left: 1.333%;
}

.modal-dialog {
    width: 600px;
    margin: 80px auto;
}

.panel-title {
    font-size: 14px;
    color: inherit;
    color: #575757;
    font-weight: initial;
}

.panel-body {
    background-color: #eeeded42;
}

.panel-heading {
    padding: 10px 15px;
}

.panel-default>.panel-heading {
    background-color: #ececec99;
}

.panel-group .panel {
    border-radius: 1px;
}

.smt {
    font-size: 60%;
    font-family: inherit;
}

.hidden {
    display: none;
}

.label-default {
    background-color: #47494994;
}

.banner-warning {
    margin-top: 22px;
    margin-bottom: 12px;
}

.dataTables_wrapper {
    margin-top: 90px;
}

div.dataTables_wrapper div.dataTables_paginate {
    padding-top: 10px;
}

.state-header {
    color: #d9230f;
}

.tabley {
    margin-top: -5em;
}

/* Mandatsstatus rechts per default hidden */
.dismissal{
    display: none;
}

.row-sm{
    /* padding-top: -100px; */
    margin-top: -6em;
}